@tailwind base;
@tailwind components;
@tailwind utilities;

.hello {
    background-image: url('./assets/city.jpg'), linear-gradient(90deg, rgba(28, 28, 31, 0.9977240896358543) 46%, rgba(55, 64, 58, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
